body {
    padding: 0;
    margin: 0;
}
html, body{
    height: 100%;
    float: right;
    width: 100vw;
}
#map{
    height: 93.5vh;
    float: right;
    width: 80vw;
}


#RouteListItemFlight{
    padding: 2px;
}

.FlightRow{
    padding: 3px;
    background-color: rgb(240, 240, 240);
    border-bottom: 1pt solid black;
    border-radius: 10px;
}

input{
    width: 5vw;
}


.loader {
    position: absolute;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    left:50%;
    top:50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.column {
    height: 93.5vh;
    overflow: auto;
    float: left;
    width: 20vw;
    background-color: #dfdfdf;
  }

#search_bar{
    height: 6.5vh;
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #2929c4;
}
#search_form{
    padding: 10px;
}
#RouteList{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
}