<!doctype html>
<html lang="en">

<head>
  <title>Flask Leaflet Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

</head>

<body>
    <div id="search_bar">
      <form id="search_form"action="" method="POST">
        <label for="FromS">From:</label>
        <input type="text" id="FromS" name="FromReq">
        <label for="ToS">To:</label>
        <input type="text" id="ToS" name="ToReq">
        <input type="text" id="NumStops" name="NumStopsReq" placeholder="Number Of Stops">
        <input type="submit" value="Submit">
      </form>
    </div>

    <div class="column" ><div id="RouteList">Route List</div></div>
    <script type="text/javascript">
      var i = 0
      {% for p in r %}
        if(i < 20){
        //console.log("{{p['Flights']['flight1']}}");
        var numFlights = {{p['Steps']}};
        var div = document.createElement("div");
        div.id = "RouteListItem"
        div.className = "RouteListItem"
        div.style.fontSize = "smaller"
        //div.innerHTML = "{{p['Flights']['flight1']}}","test"; "RouteListItem"+i+""
        document.getElementById("RouteList").appendChild(div);
        var tr = document.createElement("div")
        tr.id = "row"+i+""
        tr.className = "FlightRow"
        document.getElementById("RouteListItem").appendChild(tr);
        console.log(i);
        {%for f in p['Flights']%}
          console.log("{{p['Flights'][f]}}");
          var td = document.createElement("td")
          td.id = "RouteListItemFlight"
          td.style.fontSize = "smaller"
          td.class = "f"
          td.innerHTML = "{{p['Flights'][f]}}"
          document.getElementById("row"+i+"").appendChild(td);

        {% endfor %}
        }
        i += 1;
      {% endfor %}
    </script>
    <div id="map"></div>
    <script src="{{ url_for('static', filename='js/universal.js') }}" /></script>

    
    <script type="text/javascript">
        

      
        {% for cords in latlongs %}
        addPath([[{{cords['lat1']}},{{cords['long1']}}],[{{cords['lat2']}},{{cords['long2']}}]], {{cords['steps']}})
        {% endfor %}
        {% for p in pointList %}
        addPoint([[{{p['lat1']}},{{p['long1']}}],[{{p['lat2']}},{{p['long2']}}]], "{{p['Name']}}")
        {% endfor %}
        //L.polyline([[37.6213, -122.3790],[39.8561, -104.6737]]).addTo(map)
        //addPath([[39.8561, -104.6737],[29.9911, -90.2592]])
        {% for marker in markers %}
          L.marker([{{ marker['lat'] }}, {{ marker['lon'] }}]).addTo(map)
          .bindPopup("{{ marker['popup'] }}");
        {% endfor %}
    </script>
</body>
</html>